@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Research>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "umbLayout.cshtml";
    var selection = CurrentPage.Descendants("researchProject").Where("Visible").OrderBy("ProjectTitle");
    var categories = CurrentPage.Descendants("researchProjectCategory")
        .Where("Visible").OrderBy("Name");
}
<div class="container">
    @* Title *@
    @{ Html.RenderPartial("breadcrumb"); }
    <div class="page-header">
        <h1>Our Research <small>Active Research Projects</small></h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Research Category</div>
                <ul class="list-group">
                    @foreach (var cat in categories)
                    {
                        <li class="list-group-item"><a href="@cat.Url">@cat.Title</a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            @* Projects *@
            @foreach (IPublishedContent item in selection)
            {
                Html.RenderPartial("projectPreview", item);
            }
        </div>
    </div>
</div>
	</div>