@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Research>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "umbLayout.cshtml";
    var selection = CurrentPage.Descendants("researchProject").Where("Visible").OrderBy("ProjectTitle");
    var categories = CurrentPage.Descendants("researchProjectCategory")
        .Where("Visible").OrderBy("Name");
}
<div class="container">
    @* Title *@
    @{ Html.RenderPartial("breadcrumb"); }
    <div class="page-header">
        <h1>
            Our Research Projects<small></small>
        </h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Research Category</div>
                <ul class="list-group">
                    @foreach (var cat in categories)
                    {
                        <li class="list-group-item"><a href="@cat.Url">@cat.Title</a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#active" aria-controls="active" role="tab" data-toggle="tab">Active</a></li>
                    <li role="presentation"><a href="#complete" aria-controls="complete" role="tab" data-toggle="tab">Complete</a></li>
                </ul>
                <br />
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="active">
                        @foreach (IPublishedContent item in selection)
                        {
                            var endDate = item.GetPropertyValue<DateTime>("actualEndDate");
                            if (endDate == new DateTime())
                            {
                                Html.RenderPartial("projectPreview", item);
                            }
                        }
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="complete">
                        @foreach (IPublishedContent item in selection)
                        {
                            var endDate = item.GetPropertyValue<DateTime>("actualEndDate");
                            if (endDate != new DateTime())
                            {
                                Html.RenderPartial("projectPreview", item);
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>