@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ResearchProjectCategory>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "umbLayout.cshtml";
    var selection = CurrentPage.Site().Descendants("researchProject").Where("Visible").OrderBy("ProjectTitle");
}
<div class="container">
    @* Title *@
    @{ Html.RenderPartial("breadcrumb"); }
    <div class="page-header">
        <h1>@Umbraco.Field("title")</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Umbraco.Field("description")
            @* Projects *@
            <h3>Current Projects</h3>
            <hr />
            @foreach (IPublishedContent item in selection)
            {
                var cats = item.GetPropertyValue<string>("researchCategories").Split(',');
                if (cats.Contains(Umbraco.Field("title").ToString()))
                {
                    Html.RenderPartial("projectPreview", item);
                }
            }
        </div>
    </div>
</div>
</div>
