@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Tool>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "umbLayout.cshtml";
}
<div class="container">
    @{ Html.RenderPartial("breadcrumb"); }
    <div class="page-header">
        <h1>
            @Umbraco.Field("toolName") <small>@Umbraco.Field("subtitle")</small>
        </h1>
    </div>
    @CurrentPage.GetGridHtml("mainContent")
</div>

