@inherits UmbracoTemplatePage
<!-- About -->
<section>
    <h4 class="major"><span>@Umbraco.Field("aboutTitle", recursive: true)</span></h4>
    <p>@Umbraco.Field("aboutText", recursive: true)</p>
</section>
<!-- /About -->