@inherits UmbracoTemplatePage
@{
	var featured = CurrentPage.Site().Descendants().Where("featuredPage");
}
<!-- Features -->
	<div class="content-block">
		<div class="row">
			<div class="col-md-12">
				<h3>Featured Tools and Projects</h3>
			</div>
		</div>
		<div class="row">
			@foreach (var feature in featured)
			{
				<div class="col-md-3">
					<div class="featured-project">
						<img src="@feature.GetCropUrl("image", "thumbnail")" />
						<h4><a href="@feature.Url">@feature.Name</a></h4>
						@Umbraco.Truncate(feature.BodyText, 100)
					</div>
				</div>
			}
</div>