@inherits UmbracoTemplatePage
<!-- Banner -->
<div id="banner-wrapper" style="background: url('/Content/Images/jumboimage.jpg') center center / cover;">
    <div class="container">
        <section id="banner">
            <h3>@Umbraco.Field("bannerTextLine1")</h3><br /><h3>@Umbraco.Field("bannerTextLine2")</h3>
        </section>
    </div>
</div>
<!-- /Banner -->