@inherits UmbracoTemplatePage

@if (CurrentPage.HideBanner == false)
{
	var link = CurrentPage.BannerLink.ToString();
	
    <!-- Banner -->
    <div id="banner-wrapper" style="background: url('http://oxlel.zoo.ox.ac.uk/wp-content/uploads/2013/11/landscape01.jpg') center center / cover;">
        <div class="container">
		<section id="banner">
		<h3>@Umbraco.Field("bannerHeader")</h3><br/><h3>@Umbraco.Field("bannerSubheader")</h3>
		    <!-- Only show the banner link if the link isn't empty -->
			@if(link != "")
			{
            	<a href="@Umbraco.Content(link).Url" class="button">@Umbraco.Field("bannerLinkText")</a>
            }
        </section>
			</div>
    </div>
    <!-- /Banner -->
}